.menu {
  background-color: red;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  background-color: var(--primary);
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink svg {
  height: 2.4rem;
  width: 2.4rem;
}
